
p{
    transform:translate(130px, 10px);
     color: rgb(112, 127, 125);
     font-size: 20px;
}

h1{
    transform:translate(440px, -10px);
     color: rgb(176, 152, 152);
     font-size: 80px;
}

h2{
    transform:translate(130px, 10px);
     color: rgb(176, 152, 152);
     font-size: 30px;
}

body{
    background-color: rgb(78, 14, 67)
}

.lol{
    color: brown;
}

.main-foto{
    position: relative;
    left: 550px;
    top: -380px;
}

h3{
    transform:translate(1030px, -380px);
    color: rgb(132, 165, 42);
    font-size: 30px;
}

.gg{
    transform:translate(130px, -10px);
    font-size: 30px;
}
style
.btn{
       display: inline-block;
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial;
}

body {
    overflow-x: hidden;
}
